//turquesa
$logoTurquoise: #18bc9c;
$logoTurquoiseDark: #128f76;
$logoTurquoiseDarkMore: #11866f;
//rojo
$logoRed: #FD4A64;
$logoRedDark: #B73548;
$logoRedDarkMore: #A93041;
//purple
$logoPurple: #6A71E6;
$logoPurpleDark: #4A4FA3;
$logoPurpleDarkMore: #434794;
//blue
$logoBlue: #0291FF;
$logoBlueDark: #0062AC;
$logoBlueDarkMore: #005A9F;
//lightBlue
$logoLightBlue: #2EBAE7;
$logoLightBlueDark: #1F81A0;
$logoLightBlueDarkMore: #1B7491;
//green
$logoGreen: #48DC6C;
$logoGreenDark: #319B4A;
$logoGreenDarkMore: #2B8940;
//lightorange
$logoLightOrange: #FFA500;
$logoLightOrangeDark: #C78100;
$logoLightOrangeDarkMore: #BA7800;
//yellow
$logoYellow: #FED200;
$logoYellowDark: #C5A300;
$logoYellowDarkMore: #B89800;
//Orange
$logoOrange: #FF5434;
$logoOrangeDark: #C84228;
$logoOrangeDarkMore: #B93B23;

//general
$blue: #2c3e50;
$blueLight: #233140;
$black: #242424;
$white: #f2f2f2;
$whiteDark: #F9F9F9;
$darkWhite: #eeeeee;
$colorFacebook: #3B5998;
$colorTwitter: #1DA1F2;
$colorGoogle: #DC4E41;
$colorBitbucket: #205081;
$colorGithub: #333333;
$mainFont: 'Lato', sans-serif;
$titleFont: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
$brandFont: 'Josefin Sans', sans-serif;

/*imports*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300);

/*html*/
html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

/*body*/
body {
	color: $blue;
  font-family: $mainFont;
  font-size: 1.6em;
  font-weight: 400;
}

/*general*/
a, a:hover, a:focus, a:active, a.active {
  color: $logoTurquoise;
  outline: none;
  text-decoration: none;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.alert-warning {
  color: $white;
  background-color: $logoTurquoise;
  border-color: $logoTurquoiseDarkMore;
  background-image: -webkit-linear-gradient(top,$logoTurquoise 0,$logoTurquoise 100%);
}

.color-red{
  a{
    & { color: $white }
    &:hover, &:focus, &:active, &.active{ color: $logoRed; }
  }
  & .alert-warning {
    color: $white;
    background-color: $logoRed;
    border-color: $logoRedDarkMore;
    background-image: -webkit-linear-gradient(top,$logoRed 0,$logoRed 100%);
  }
}

.color-purple{
  a{
    & { color: $white }
    &:hover, &:focus, &:active, &.active{ color: $logoPurple; }
  }
  & .alert-warning {
    color: $white;
    background-color: $logoPurple;
    border-color: $logoPurpleDarkMore;
    background-image: -webkit-linear-gradient(top,$logoPurple 0,$logoPurple 100%);
  }

}

.color-blue{
  a{
    & { color: $white }
    &:hover, &:focus, &:active, &.active{ color: $logoBlue; }
  }
  & .alert-warning {
    color: $white;
    background-color: $logoBlue;
    border-color: $logoBlueDarkMore;
    background-image: -webkit-linear-gradient(top,$logoBlue 0,$logoBlue 100%);
  }
}

.color-light-blue{
  a{
    & { color: $white }
    &:hover, &:focus, &:active, &.active{ color: $logoLightBlue; }
  }
  & .alert-warning {
    color: $white;
    background-color: $logoLightBlue;
    border-color: $logoLightBlueDarkMore;
    background-image: -webkit-linear-gradient(top,$logoLightBlue 0,$logoLightBlue 100%);
  }
}

.color-green{
  a{
    & { color: $white }
    &:hover, &:focus, &:active, &.active{ color: $logoGreen; }
  }
  & .alert-warning {
    color: $white;
    background-color: $logoGreen;
    border-color: $logoGreenDarkMore;
    background-image: -webkit-linear-gradient(top,$logoGreen 0,$logoGreen 100%);
  }
}

.color-light-orange{
  a{
    & { color: $white }
    &:hover, &:focus, &:active, &.active{ color: $logoLightOrange; }
  }
  & .alert-warning {
    color: $white;
    background-color: $logoLightOrange;
    border-color: $logoLightOrangeDarkMore;
    background-image: -webkit-linear-gradient(top,$logoLightOrange 0,$logoLightOrange 100%);
  }
}

.color-yellow{
  a{
    & { color: $white }
    &:hover, &:focus, &:active, &.active{ color: $logoYellow; }
  }
  & .alert-warning {
    color: $white;
    background-color: $logoYellow;
    border-color: $logoYellowDarkMore;
    background-image: -webkit-linear-gradient(top,$logoYellow 0,$logoYellow 100%);
  }
}

.color-orange{
  a{
    & { color: $white }
    &:hover, &:focus, &:active, &.active{ color: $logoOrange; }
  }
  & .alert-warning {
    color: $white;
    background-color: $logoOrange;
    border-color: $logoOrangeDarkMore;
    background-image: -webkit-linear-gradient(top,$logoOrange 0,$logoOrange 100%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
  text-transform: uppercase;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
}
hr, hr {
  padding: 0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 35%;
  margin: 25px auto 30px;
}
hr:after, hr:after {
  font-family: FontAwesome;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding: 0 0.25em;
}

.img-centered {
    margin: 0 auto;
}
.fa-2 {
  font-size: 2em;
}
.fa-3 {
  font-size: 4em;
}
.fa-4 {
  font-size: 7em;
}
.fa-5 {
  font-size: 12em;
}
.fa-6 {
  font-size: 20em;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  color: $white;
  cursor: default;
  background-color: $logoTurquoise;
  border-color: $logoTurquoise;
}

.color-red{
  .pagination{
    &>.active{
      &>a, &>a:focus, &>a:hover, &>span, &>span:focus, &>span:hover {
        background-color: $logoRed;
        border-color: $logoRed;
      }
    }
    &>li{
      &>a, &>span {
        color: $logoRed;
      }
    }
  }
}

.color-purple{
  .pagination{
    &>.active{
      &>a, &>a:focus, &>a:hover, &>span, &>span:focus, &>span:hover {
        background-color: $logoPurple;
        border-color: $logoPurple;
      }
    }
    &>li{
      &>a, &>span {
        color: $logoPurple;
      }
    }
  }
}

.color-blue{
  .pagination{
    &>.active{
      &>a, &>a:focus, &>a:hover, &>span, &>span:focus, &>span:hover {
        background-color: $logoBlue;
        border-color: $logoBlue;
      }
    }
    &>li{
      &>a, &>span {
        color: $logoBlue;
      }
    }
  }
}

.color-light-blue{
  .pagination{
    &>.active{
      &>a, &>a:focus, &>a:hover, &>span, &>span:focus, &>span:hover {
        background-color: $logoLightBlue;
        border-color: $logoLightBlue;
        color: $white;
      }
    }
    &>li{
      &>a, &>span {
        color: $logoLightBlue;
      }
    }
  }
}

.color-green{
  .pagination{
    &>.active{
      &>a, &>a:focus, &>a:hover, &>span, &>span:focus, &>span:hover {
        background-color: $logoGreen;
        border-color: $logoGreen;
      }
    }
    &>li{
      &>a, &>span {
        color: $logoGreen;
      }
    }
  }
}

.color-light-orange{
  .pagination{
    &>.active{
      &>a, &>a:focus, &>a:hover, &>span, &>span:focus, &>span:hover {
        background-color: $logoLightOrange;
        border-color: $logoLightOrange;
      }
    }
    &>li{
      &>a, &>span {
        color: $logoLightOrange;
      }
    }
  }
}

.color-yellow{
  .pagination{
    &>.active{
      &>a, &>a:focus, &>a:hover, &>span, &>span:focus, &>span:hover {
        background-color: $logoYellow;
        border-color: $logoYellow;
      }
    }
    &>li{
      &>a, &>span {
        color: $logoYellow;
      }
    }
  }
}

.color-orange{
  .pagination{
    &>.active{
      &>a, &>a:focus, &>a:hover, &>span, &>span:focus, &>span:hover {
        background-color: $logoOrange;
        border-color: $logoOrange;
      }
    }
    &>li{
      &>a, &>span {
        color: $logoOrange;
      }
    }
  }
}

.pagination{
  &>li>a {
    color: $logoTurquoise;
  }
  &>li>span.active{
    color: $white;
    background: $logoTurquoise;
  }
}

.color-red{
  .pagination{
    &>li>a {
      color: $logoRed;
    }
    &>li>span.active{
      color: $white;
      background: $logoRed;
    }
  }
}

.color-purple{
  .pagination{
    &>li>a {
      color: $logoPurple;
    }
    &>li>span.active{
      color: $white;
      background: $logoPurple;
    }
  }
}

.color-blue{
  .pagination{
    &>li>a {
      color: $logoBlue;
    }
    &>li>span.active{
      color: $white;
      background: $logoBlue;
    }
  }
}

.color-light-blue{
  .pagination{
    &>li>a {
      color: $logoLightBlue;
    }
    &>li>span.active{
      color: $white;
      background: $logoLightBlue;
    }
  }
}

.color-green{
  .pagination{
    &>li>a {
      color: $logoGreen;
    }
    &>li>span.active{
      color: $white;
      background: $logoGreen;
    }
  }
}

.color-light-orange{
  .pagination{
    &>li>a {
      color: $logoLightOrange;
    }
    &>li>span.active{
      color: $white;
      background: $logoLightOrange;
    }
  }
}

.color-yellow{
  .pagination{
    &>li>a {
      color: $logoYellow;
    }
    &>li>span.active{
      color: $white;
      background: $logoYellow;
    }
  }
}

.color-orange{
  .pagination{
    &>li>a {
      color: $logoOrange;
    }
    &>li>span.active{
      color: $white;
      background: $logoOrange;
    }
  }
}


/*form*/
.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  border-bottom: 1px solid $darkWhite;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid $darkWhite;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: $logoTurquoise;
}
.color-red{
  &.floating-label-form-group-with-focus label {
    color: $logoTurquoise;
  }
}

.color-purple{
  &.floating-label-form-group-with-focus label {
    color: $logoPurple;
  }
}

.color-blue{
  &.floating-label-form-group-with-focus label {
    color: $logoBlue;
  }
}

.color-light-blue{
  &.floating-label-form-group-with-focus label {
    color: $logoLightBlue;
  }
}

.color-green{
  &.floating-label-form-group-with-focus label {
    color: $logoGreen;
  }
}

.color-light-orange{
  &.floating-label-form-group-with-focus label {
    color: $logoLightOrange;
  }
}

.color-yellow{
  &.floating-label-form-group-with-focus label {
    color: $logoYellow;
  }
}

.color-orange{
  &.floating-label-form-group-with-focus label {
    color: $logoOrange;
  }
}

form .row:first-child {
  border-top: 1px solid $darkWhite;
}
.btn-success {
  color: $white;
  background-color: $logoTurquoise;
  border-color: $logoTurquoise;
  background-image: none;
  box-shadow: none;
  margin: 0.5em 0;
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
  color: $white;
  background-color: $logoTurquoiseDarkMore;
  border-color: $logoTurquoiseDark;

  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
.btn-success:active:hover, .btn-success.active:hover, .open>.dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open>.dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open>.dropdown-toggle.btn-success.focus {
  color: $white;
  background-color: $logoTurquoiseDarkMore;
  border-color: $logoTurquoiseDark;
}

.color-red{
  .btn-success {
    &{
      color: $white;
      background-color: $logoRed;
      border-color: $logoRed;
    }
    &:hover, &:active, &:focus {
      color: $white;
      background-color: $logoRedDarkMore;
      border-color: $logoRedDark;
    }
    &:active:hover, &.active:hover, .open>.dropdown-toggle.btn-success:hover, &:active:focus, &.active:focus, .open>.dropdown-toggle.btn-success:focus, &:active.focus, &.active.focus, .open>.dropdown-toggle.btn-success.focus {
      color: $white;
      background-color: $logoRedDarkMore;
      border-color: $logoRedDark;
    }
  }
}

.color-purple{
  .btn-success {
    &{
      color: $white;
      background-color: $logoPurple;
      border-color: $logoPurple;
    }
    &:hover, &:active, &:focus {
      color: $white;
      background-color: $logoPurpleDarkMore;
      border-color: $logoPurpleDark;
    }
    &:active:hover, &.active:hover, .open>.dropdown-toggle.btn-success:hover, &:active:focus, &.active:focus, .open>.dropdown-toggle.btn-success:focus, &:active.focus, &.active.focus, .open>.dropdown-toggle.btn-success.focus {
      color: $white;
      background-color: $logoPurpleDarkMore;
      border-color: $logoPurpleDark;
    }
  }
}

.color-blue{
  .btn-success {
    &{
      color: $white;
      background-color: $logoBlue;
      border-color: $logoBlue;
    }
    &:hover, &:active, &:focus {
      color: $white;
      background-color: $logoBlueDarkMore;
      border-color: $logoBlueDark;
    }
    &:active:hover, &.active:hover, .open>.dropdown-toggle.btn-success:hover, &:active:focus, &.active:focus, .open>.dropdown-toggle.btn-success:focus, &:active.focus, &.active.focus, .open>.dropdown-toggle.btn-success.focus {
      color: $white;
      background-color: $logoBlueDarkMore;
      border-color: $logoBlueDark;
    }
  }
}

.color-light-blue{
  .btn-success {
    &{
      color: $white;
      background-color: $logoLightBlue;
      border-color: $logoLightBlue;
    }
    &:hover, &:active, &:focus {
      color: $white;
      background-color: $logoLightBlueDarkMore;
      border-color: $logoLightBlueDark;
    }
    &:active:hover, &.active:hover, .open>.dropdown-toggle.btn-success:hover, &:active:focus, &.active:focus, .open>.dropdown-toggle.btn-success:focus, &:active.focus, &.active.focus, .open>.dropdown-toggle.btn-success.focus {
      color: $white;
      background-color: $logoLightBlueDarkMore;
      border-color: $logoLightBlueDark;
    }
  }
}

.color-green{
  .btn-success {
    &{
      color: $white;
      background-color: $logoGreen;
      border-color: $logoGreen;
    }
    &:hover, &:active, &:focus {
      color: $white;
      background-color: $logoGreenDarkMore;
      border-color: $logoGreenDark;
    }
    &:active:hover, &.active:hover, .open>.dropdown-toggle.btn-success:hover, &:active:focus, &.active:focus, .open>.dropdown-toggle.btn-success:focus, &:active.focus, &.active.focus, .open>.dropdown-toggle.btn-success.focus {
      color: $white;
      background-color: $logoGreenDarkMore;
      border-color: $logoGreenDark;
    }
  }
}

.color-light-orange{
  .btn-success {
    &{
      color: $white;
      background-color: $logoLightOrange;
      border-color: $logoLightOrange;
    }
    &:hover, &:active, &:focus {
      color: $white;
      background-color: $logoLightOrangeDarkMore;
      border-color: $logoLightOrangeDark;
    }
    &:active:hover, &.active:hover, .open>.dropdown-toggle.btn-success:hover, &:active:focus, &.active:focus, .open>.dropdown-toggle.btn-success:focus, &:active.focus, &.active.focus, .open>.dropdown-toggle.btn-success.focus {
      color: $white;
      background-color: $logoLightOrangeDarkMore;
      border-color: $logoLightOrangeDark;
    }
  }
}

.color-yellow{
  .btn-success {
    &{
      color: $white;
      background-color: $logoYellow;
      border-color: $logoYellow;
    }
    &:hover, &:active, &:focus {
      color: $white;
      background-color: $logoYellowDarkMore;
      border-color: $logoYellowDark;
    }
    &:active:hover, &.active:hover, .open>.dropdown-toggle.btn-success:hover, &:active:focus, &.active:focus, .open>.dropdown-toggle.btn-success:focus, &:active.focus, &.active.focus, .open>.dropdown-toggle.btn-success.focus {
      color: $white;
      background-color: $logoYellowDarkMore;
      border-color: $logoYellowDark;
    }
  }
}

.color-orange{
  .btn-success {
    &{
      color: $white;
      background-color: $logoOrange;
      border-color: $logoOrange;
    }
    &:hover, &:active, &:focus {
      color: $white;
      background-color: $logoOrangeDarkMore;
      border-color: $logoOrangeDark;
    }
    &:active:hover, &.active:hover, .open>.dropdown-toggle.btn-success:hover, &:active:focus, &.active:focus, .open>.dropdown-toggle.btn-success:focus, &:active.focus, &.active.focus, .open>.dropdown-toggle.btn-success.focus {
      color: $white;
      background-color: $logoOrangeDarkMore;
      border-color: $logoOrangeDark;
    }
  }
}

/*navbar*/
.navbar{
	border: none;
	margin: 0;
	padding: 1em 0;
	font-family: $titleFont;
}
.navbar-default{
	background-color: $blue;
	background-image: none;
	border-radius: 0;
	box-shadow: none;
}
.navbar-brand {
  text-shadow: none;
  font-size: 1.5em;
  position: relative;
}
.navbar-brand img{
  height: 100%;
}
.navbar-brand span{
  font-family: $brandFont;
  position: absolute;
  top: 50%;
  left: 90%;
  font-size: 1.3em;
  font-weight: 300;
}
.navbar-nav>li>a {
  text-shadow: none;
  font-size: 1.2em;
}
.navbar-default .navbar-brand {
  color: $white;
  padding: 0;
}
.navbar-default .navbar-nav>li>a {
  color: $white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $white;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: $logoTurquoise;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-nav>.current-menu-item >a, .navbar-default .navbar-nav>.current-menu-item >a:hover, .navbar-default .navbar-nav>.current-menu-item >a:focus, .navbar-default .navbar-nav>.current-menu-parent >a, .navbar-default .navbar-nav>.current-menu-parent >a:hover, .navbar-default .navbar-nav>.current-menu-parent >a:focus {
    color: $white;
    background-image: none;
    background-color: $logoTurquoise;
    border-radius: 0.2em;
}
.navbar-default .navbar-toggle {
  color: $logoTurquoise;
  background: $white;
}

.color-red{
  & .navbar-default .navbar-nav>li>a:hover, & .navbar-default .navbar-nav>li>a:focus {
    color: $logoRed;
    background-color: rgba(0, 0, 0, 0);
  }
  & .navbar-default .navbar-nav>.current-menu-item >a, & .navbar-default .navbar-nav>.current-menu-item >a:hover, & .navbar-default .navbar-nav>.current-menu-item >a:focus {
    color: $white;
    background-color: $logoRed;
  }
  & .navbar-default .navbar-toggle {
    color: $logoRed;
    background: $white;
  }
}

.color-purple{
  & .navbar-default .navbar-nav>li>a:hover, & .navbar-default .navbar-nav>li>a:focus {
    color: $logoPurple;
    background-color: rgba(0, 0, 0, 0);
  }
  & .navbar-default .navbar-nav>.current-menu-item >a, & .navbar-default .navbar-nav>.current-menu-item >a:hover, & .navbar-default .navbar-nav>.current-menu-item >a:focus {
    color: $white;
    background-color: $logoPurple;
  }
  & .navbar-default .navbar-toggle {
    color: $logoPurple;
    background: $white;
  }
}

.color-blue{
  & .navbar-default .navbar-nav>li>a:hover, & .navbar-default .navbar-nav>li>a:focus {
    color: $logoBlue;
    background-color: rgba(0, 0, 0, 0);
  }
  & .navbar-default .navbar-nav>.current-menu-item >a, & .navbar-default .navbar-nav>.current-menu-item >a:hover, & .navbar-default .navbar-nav>.current-menu-item >a:focus {
    color: $white;
    background-color: $logoBlue;
  }
  & .navbar-default .navbar-toggle {
    color: $logoBlue;
    background: $white;
  }
}

.color-light-blue{
  & .navbar-default .navbar-nav>li>a:hover, & .navbar-default .navbar-nav>li>a:focus {
    color: $logoLightBlue;
    background-color: rgba(0, 0, 0, 0);
  }
  & .navbar-default .navbar-nav>.current-menu-item >a, & .navbar-default .navbar-nav>.current-menu-item >a:hover, & .navbar-default .navbar-nav>.current-menu-item >a:focus {
    color: $white;
    background-color: $logoLightBlue;
  }
  & .navbar-default .navbar-toggle {
    color: $logoLightBlue;
    background: $white;
  }
}

.color-green{
  & .navbar-default .navbar-nav>li>a:hover, & .navbar-default .navbar-nav>li>a:focus {
    color: $logoGreen;
    background-color: rgba(0, 0, 0, 0);
  }
  & .navbar-default .navbar-nav>.current-menu-item >a, & .navbar-default .navbar-nav>.current-menu-item >a:hover, & .navbar-default .navbar-nav>.current-menu-item >a:focus {
    color: $white;
    background-color: $logoGreen;
  }
  & .navbar-default .navbar-toggle {
    color: $logoGreen;
    background: $white;
  }
}

.color-light-orange{
  & .navbar-default .navbar-nav>li>a:hover, & .navbar-default .navbar-nav>li>a:focus {
    color: $logoLightOrange;
    background-color: rgba(0, 0, 0, 0);
  }
  & .navbar-default .navbar-nav>.current-menu-item >a, & .navbar-default .navbar-nav>.current-menu-item >a:hover, & .navbar-default .navbar-nav>.current-menu-item >a:focus {
    color: $white;
    background-color: $logoLightOrange;
  }
  & .navbar-default .navbar-toggle {
    color: $logoLightOrange;
    background: $white;
  }
}

.color-yellow{
  & .navbar-default .navbar-nav>li>a:hover, & .navbar-default .navbar-nav>li>a:focus {
    color: $logoYellow;
    background-color: rgba(0, 0, 0, 0);
  }
  & .navbar-default .navbar-nav>.current-menu-item >a, & .navbar-default .navbar-nav>.current-menu-item >a:hover, & .navbar-default .navbar-nav>.current-menu-item >a:focus {
    color: $white;
    background-color: $logoYellow;
  }
  & .navbar-default .navbar-toggle {
    color: $logoYellow;
    background: $white;
  }
}

.color-orange{
  & .navbar-default .navbar-nav>li>a:hover, & .navbar-default .navbar-nav>li>a:focus {
    color: $logoOrange;
    background-color: rgba(0, 0, 0, 0);
  }
  & .navbar-default .navbar-nav>.current-menu-item >a, & .navbar-default .navbar-nav>.current-menu-item >a:hover, & .navbar-default .navbar-nav>.current-menu-item >a:focus {
    color: $white;
    background-color: $logoOrange;
  }
  & .navbar-default .navbar-toggle {
    color: $logoOrange;
    background: $white;
  }
}

/*header*/
header {
  background: $logoTurquoise;
  color: $white;
}

.color-red {
  & header {
    background: $logoRed;
    color: $white;
  }
}

.color-purple {
  & header {
    background: $logoPurple;
    color: $white;
  }
}

.color-blue {
  & header {
    background: $logoBlue;
    color: $white;
  }
}

.color-light-blue {
  & header {
    background: $logoLightBlue;
    color: $white;
  }
}

.color-green {
  & header {
    background: $logoGreen;
    color: $white;
  }
}

.color-light-orange {
  & header {
    background: $logoLightOrange;
    color: $white;
  }
}

.color-yellow {
  & header {
    background: $logoYellow;
    color: $white;
  }
}

.color-orange {
  & header {
    background: $logoOrange;
    color: $white;
  }
}

header .container {
  /*padding: 100px 0;*/
}
header h1 {
  padding: 0.5em 0;
}
header h2 {
	font-size: 0.8em;
  padding: 0.1em 0;
  text-transform: lowercase;
}
header img {
  display: block;
  margin: 0 auto 20px;
}
header .intro-text .name {
  display: block;
  font-family: $titleFont;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-weight: 300;
}

/*section main*/
section {
  padding: 100px 0;
}
section a{
  color: $logoTurquoise;
}
section strong{
  color: $logoTurquoise;
}
section:nth-child(odd) {
  clear: both;
  padding: 100px 0;
}
section:nth-child(even) {
  background: $logoTurquoise;
  color: $white;
}
section .services span:last-child{
  display: none;
}

/* portafolio */
.content-portafolio{
  & .area-information{
    margin-bottom: 1.5em;
  }
}

.color-red{
  & section:nth-child(even) {
    background: $logoRed;
    color: $white;
  }
  & section:nth-child(even) a{
    color: $blue;
    text-shadow: 1px 1px 2px #bdbdbd;
  }
  & section:nth-child(even) strong {
    color: $blue;
    text-shadow: 1px 1px 3px #bdbdbd;
  }
  & section a{
    color: $logoRed;
  }
  & section strong{
    color: $logoRed;
  }
}

.color-purple{
  & section:nth-child(even) {
    background: $logoPurple;
    color: $white;
  }
  & section:nth-child(even) a{
    color: $blue;
    text-shadow: 1px 1px 2px #bdbdbd;
  }
  & section:nth-child(even) strong {
    color: $blue;
    text-shadow: 1px 1px 3px #bdbdbd;
  }
  & section a{
    color: $logoPurple;
  }
  & section strong{
    color: $logoPurple;
  }
}

.color-blue{
  & section:nth-child(even) {
    background: $logoBlue;
    color: $white;
  }
  & section:nth-child(even) a{
    color: $blue;
    text-shadow: 1px 1px 2px #bdbdbd;
  }
  & section:nth-child(even) strong {
    color: $blue;
    text-shadow: 1px 1px 3px #bdbdbd;
  }
  & section a{
    color: $logoBlue;
  }
  & section strong{
    color: $logoBlue;
  }
}

.color-light-blue{
  & section:nth-child(even) {
    background: $logoLightBlue;
    color: $white;
  }
  & section:nth-child(even) a{
    color: $blue;
    text-shadow: 1px 1px 2px #bdbdbd;
  }
  & section:nth-child(even) strong {
    color: $blue;
    text-shadow: 1px 1px 3px #bdbdbd;
  }
  & section a{
    color: $logoLightBlue;
  }
  & section strong{
    color: $logoLightBlue;
  }
}

.color-green{
  & section:nth-child(even) {
    background: $logoGreen;
    color: $white;
  }
  & section:nth-child(even) a{
    color: $blue;
    text-shadow: 1px 1px 2px #bdbdbd;
  }
  & section:nth-child(even) strong {
    color: $blue;
    text-shadow: 1px 1px 3px #bdbdbd;
  }
  & section a{
    color: $logoGreen;
  }
  & section strong{
    color: $logoGreen;
  }
}

.color-light-orange{
  & section:nth-child(even) {
    background: $logoLightOrange;
    color: $white;
  }
  & section:nth-child(even) a{
    color: $blue;
    text-shadow: 1px 1px 2px #bdbdbd;
  }
  & section:nth-child(even) strong {
    color: $blue;
    text-shadow: 1px 1px 3px #bdbdbd;
  }
  & section a{
    color: $logoLightOrange;
  }
  & section strong{
    color: $logoLightOrange;
  }
}

.color-yellow{
  & section:nth-child(even) {
    background: $logoYellow;
    color: $white;
  }
  & section:nth-child(even) a{
    color: $blue;
    text-shadow: 1px 1px 2px #bdbdbd;
  }
  & section:nth-child(even) strong {
    color: $blue;
    text-shadow: 1px 1px 3px #bdbdbd;
  }
  & section a{
    color: $logoYellow;
  }
  & section strong{
    color: $logoYellow;
  }
}

.color-orange{
  & section:nth-child(even) {
    background: $logoOrange;
    color: $white;
  }
  & section:nth-child(even) a{
    
  }
  & section:nth-child(even) strong {
    color: $blue;
    text-shadow: 1px 1px 3px #bdbdbd;
  }
  & section a{
    color: $logoOrange;
  }
  & section strong{
    color: $logoOrange;
  }
}

section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: $logoTurquoise;
  color: $white;
}

.color-red{
  & section.success {
    background: $logoRed;
    color: $white;
  }
}

.color-purple{
  & section.success {
    background: $logoPurple;
    color: $white;
  }
}

.color-blue{
  & section.success {
    background: $logoBlue;
    color: $white;
  }
}

.color-light-blue{
  & section.success {
    background: $logoLightBlue;
    color: $white;
  }
}

.color-green{
  & section.success {
    background: $logoGreen;
    color: $white;
  }
}

.color-light-orange{
  & section.success {
    background: $logoLightOrange;
    color: $white;
  }
}

.color-yellow{
  & section.success {
    background: $logoYellow;
    color: $white;
  }
}

.color-orange{
  & section.success {
    background: $logoOrange;
    color: $white;
  }
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
  color: $blue;
  outline: none;
}
/* ---- grid ---- */

.grid {
  /*background: #DDD;*/
  margin-top: 2em;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 100%;
}

.grid-item {
  float: left;
  overflow: hidden;
}

.grid-item img {
  display: block;
}

.grid-item img.img-responsive.wp-post-image{
  border: 5px solid #fff;
  -webkit-filter: opacity(.9);
  filter: opacity(.9);
}

.grid-item img:hover.img-responsive.wp-post-image{
  -webkit-filter: opacity(1);
  filter: opacity(1);

  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.grid-item .caption {
	position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  color: $white;
  height: 0;
  padding: 0 0.5em;

  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

.grid-item:hover .caption {
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  padding: 0.5em;
}

.grid-item .caption .contentCaption h2{
	font-size: 1.5em;
  margin-bottom: 1em;
}

.grid-item .caption .contentCaption img{
  margin-bottom: 0.5em;
}

.grid-item .caption .contentCaption a{
	font-size: 1.5em;
	color: $black;
}

.grid-item .caption .contentCaption{
	position: absolute;
	top: 35%;
	text-align: center;
	width: 100%;
}

/* extra Small devices (tablets, 460px and up) */
@media screen and (min-width: 460px) {
	.grid-sizer,
	.grid-item {
		width: 50%;
	}

}

/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
	.grid-sizer,
	.grid-item {
		width: 33.333%;
	}
  .text-logo{
    display: none;
  }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.grid-sizer,
	.grid-item {
		width: 33.333%;
	}
  .text-logo{
    display: block;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	
}

/*search*/
#lightcase-case{
  background: $blue;
  color: $white;
}
#lightcase-content{
  background: transparent !important;
}
.search-list{
  margin: 1em 0;
  padding: 1em 0;
  & img{
    border-radius: 0.3em;
  }
  & h3, & h4, & h5{
    margin-bottom: 0.5em;
    margin-top: 0;
  }
  & .read-more{
    text-align: right;
  }
  &:nth-child(odd){
    background: $white;
  }
  &:nth-child(even){

  }
}
#search{
  display: none;
}
#search h2{
  color: $white;
}
#search .form-search {
  margin-top: 0;
  position: relative;
}
#search .form-search .search-field {
  border: none;
  padding: 10px 20px 10px 80px;
  color: $blue;
  letter-spacing: 1px;
  width: 100%;
  font-size: 20px;
  height: 60px;
  outline: none;
}
#search .form-search .search-submit {
  background: $black;
  border: none;
  font-size: 24px;
  color: $white;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  outline: none;
}

.color-red{
  #search .form-search .search-submit {
    background: $logoRed;
  }
}

.color-purple{
  #search .form-search .search-submit {
    background: $logoPurple;
  }
}

.color-blue{
  #search .form-search .search-submit {
    background: $logoBlue;
  }
}

.color-light-blue{
  #search .form-search .search-submit {
    background: $logoLightBlue;
  }
}

.color-green{
  #search .form-search .search-submit {
    background: $logoGreen;
  }
}

.color-light-orange{
  #search .form-search .search-submit {
    background: $logoLightOrange;
  }
}

.color-yellow{
  #search .form-search .search-submit {
    background: $logoYellow;
  }
}

.color-orange{
  #search .form-search .search-submit {
    background: $logoOrange;
  }
}

/*blog*/
.item-blog{
	margin-bottom: 1.5em;
}
.item-blog h2{
	font-size: 2em;
}
.item-blog .read-more{
  text-align: right;
}
.content-blog{
  margin-bottom: 1em;
  & img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/*price*/
.price {
  display:inline-block;
  position:relative;
}
.price .price_currency,
.price .price_money {
  font-size:1.875em;
  line-height:1em;
  color: $black;
}
.price .price_info {
  display:inline-block;
  position:relative;
  vertical-align:baseline;
    margin-left: 0.95em;
}
.price .price_period {
    font-size:1.06667em;
}
.price .price_penny {
  display:block;
    position: absolute;
    top: -10px;
    left: -14px;
  font-size:1.06667em;
}
.price .price_period:before {
  content:'/';
  display:inline-block;
  margin-left:0.3em;
}
.price .price_period_empty:before {
  content:' ';
  display:inline-block;
}
.price_block {
  display:inline-block;
  overflow:hidden;
    width: 100%;
    border-radius: 20px;
}
.price_block .price_block_title {
  text-align:center;
  font-size: 1.6667em;
  line-height: 1.923em;
    padding: 1.45em 0 1.45em 0.15em;
}
.price_block .price_block_money {
  text-align:center;
  overflow:hidden;
    padding-bottom: 3.2em;
}
.price_block .price_block_money .price_block_icon {
  font-size: 4em;
  line-height:inherit;
  display:inline-block;
}
.price_block .price_block_money .price {
  display:inline-block;
    padding: 0.8em 1.6em;
    border-radius: 20px;
}
.price_block .price_block_money .price_block_icon + .price {
  margin-left:0.5em;
}
.price .price_money:after {
    content: '.';
}
.price_block .price_block_money .price_currency {
  font-weight:400;
  font-size: 2em;
  line-height:inherit;
}
.price_block .price_block_money .price_money {
  font-size: 2em;
}
.price_block .price_block_description {
  text-align:center;
  overflow:hidden;
    font-size: 1em;
}
.price_block .price_block_description ul {
    list-style: none;
    margin-top: 2.2em;
    padding: 0;
}
.price_block .price_block_description ul li {
    padding: 0.55em 0;
    margin: 0;
}

.price_block .price_block_link {
  height:4.5em;
  text-align:center;
    margin-bottom: 0.5em;
}
.button {
    display: inline-block;
    text-align: center;
    padding: 0.65em 1.55em 0.8em;
    font-weight: 700;
    background: $white;
}
.button {
    font-size: 0.9333em;
    border: 2px solid;
}
.button.button_round {
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
}
.price_block .price_block_title,
.price_block .price_block_money * {
  color: #ffffff;
}
.price_block.price_block_style_1 {
  background-color: $whiteDark;
}
.price_block.price_block_style_1 .price_block_title,
.price_block.price_block_style_1 .price_block_money {
  background-color: $logoYellow;
}
.price_block.price_block_style_1:nth-child(3n+2) .price_block_title,
.price_block.price_block_style_1:nth-child(3n+2) .price_block_money,
.column_item:nth-child(3n+2) .price_block.price_block_style_1 .price_block_title,
.column_item:nth-child(3n+2) .price_block.price_block_style_1 .price_block_money {
  background-color: $logoGreen;
}
.price_block.price_block_style_1:nth-child(3n+3) .price_block_title,
.price_block.price_block_style_1:nth-child(3n+3) .price_block_money,
.column_item:nth-child(3n+3) .price_block.price_block_style_1 .price_block_title,
.column_item:nth-child(3n+3) .price_block.price_block_style_1 .price_block_money {
  background-color: $logoOrange;
}
.price_block .price_block_money .price {
  background-color: $logoYellowDark;
}
.column_item:nth-child(3n+2) .price_block.price_block_style_1 .price_block_money .price,
.price_block.price_block_style_1:nth-child(3n+2) .price_block_money .price {
  background-color: $logoGreenDark;
}
.column_item:nth-child(3n+3) .price_block.price_block_style_1 .price_block_money .price,
.price_block.price_block_style_1:nth-child(3n+3) .price_block_money .price {
  background-color: $logoOrangeDark;
}
.price_block .price_block_description ul li:nth-child(2n) {
  background-color: $white;
}
.price_block .price_block_description {
  color: rgba(46,43,58,0.8);
}


/*footer*/
footer {
  color: $white;
  text-align: center;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: $blue;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: $blueLight;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid $white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus, .btn:active, .btn.active {
  outline: none;
}
.btn-outline {
  color: $white;
  font-size: 20px;
  border: solid 2px $white;
  background: transparent;
  
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;

  margin-top: 15px;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: $logoTurquoise;
  background: $white;
  border: solid 2px $white;
}
.icon-facebook.btn-outline:hover, .icon-facebook.btn-outline:focus, .icon-facebook.btn-outline:active, .icon-facebook.btn-outline.active {
  color: $white;
  background: $colorFacebook;
  border: solid 2px $colorFacebook;
}
.icon-twitter.btn-outline:hover, .icon-twitter.btn-outline:focus, .icon-twitter.btn-outline:active, .icon-twitter.btn-outline.active {
  color: $white;
  background: $colorTwitter;
  border: solid 2px $colorTwitter;
}
.icon-google.btn-outline:hover, .icon-google.btn-outline:focus, .icon-google.btn-outline:active, .icon-google.btn-outline.active {
  color: $white;
  background: $colorGoogle;
  border: solid 2px $colorGoogle;
}
.icon-bitbucket.btn-outline:hover, .icon-bitbucket.btn-outline:focus, .icon-bitbucket.btn-outline:active, .icon-bitbucket.btn-outline.active {
  color: $white;
  background: $colorBitbucket;
  border: solid 2px $colorBitbucket;
}
.icon-github.btn-outline:hover, .icon-github.btn-outline:focus, .icon-github.btn-outline:active, .icon-github.btn-outline.active {
  color: $white;
  background: $colorGithub;
  border: solid 2px $colorGithub;
}

/* OWL */
.owl-item{
  max-height: 650px;
}

// grecaptcha
.grecaptcha-badge{
  display: none !important;
}