/*
Theme Name: GuaguaMedia
Theme URI: http://www.guaguamedia.com/portafolio/
Author: GuaguaMedia.com
Author URI: http://www.guaguamedia.com
Description: Paginas web en Ecuador
License: &copy GuaguaMedia 2016
License URI: http://www.guaguamedia.com
Text Domain: GuaguaMedia
Version: 1.0

*/
*
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.bypostauthor {
  background:#FFF;
}
.commentlist .bypostauthor {
  background:#FFF;
}